<! DOCTYPE html>
<html>
<title>University Visits - Become a Guide!</title>
<head>
	<link rel="stylesheet" href="/static/styles_college.css">
</head>
{% load static %}	
<body>
	<div class="bgguide">
	</div>
		<span class="uni"><a href="/">UNIVERSITY VISITS</span></a>
		<span class="parents"><a href="/parents">PARENTS</span></a>
		<span class="visits"><a href="/visits">VISITS</span></a>
		<span class="become"><a href="/become">BECOME A GUIDE</span></a>
		<span class="profile"><a href="/visitor"><img src="{% static "images/ic_profileicon.png" %}" alt=""></span></a>

		<span class="mainguide">Start Earning Now</span>
		<span class="nextguide">  Guides can make over $300 in just one weekend! Becoming a guide is a great way for any undergrad to make some extra cash. University Visits allows you to turn your weekend into a new and easy means of profit!  </span>

		<span class="rect"></span>
		<div class="butt1"><a href="/guide1">START GUIDING</div></a>
		<span class="bigrect"></span>
		<span class="wantto">WANT TO BE A GUIDE?</span>
		<span class="glad"> Glad you’re interested! Check if you match the requirements. </span>
		<span class="guidereqs"><img src="{% static "images/ic_guidereqs.png" %}" alt=""></span>
		<span class="earnbox"></span>
		<span class="earntext">What you could earn by <strong><font color="lightblue">guiding</font></strong></span>
		<span class="blueavg"></span>
		<span class="weekavg"><img src="{% static "images/ic_weekavg.png" %}" alt=""></span>
		<span class="whyguide"><img src="{% static "images/ic_whyguide.png" %}" alt=""></span>
		<span class="guidefaqs"><img src="{% static "images/ic_guidefaqs.png" %}" alt=""></span>
		<span class="howwork"><img src="{% static "images/ic_how_quest_.png" %}" alt=""></span>
		<span class="paid"><img src="{% static "images/ic_paid.png" %}" alt=""></span>
		<span class="guidefaqs2"><img src="{% static "images/ic_guidefaqs2.png" %}" alt=""></span>
		<span class="types">TYPES OF VISITS</span>
		<span class="day"><img src="{% static "images/ic_day_visits.png" %}" alt=""></span>
		<span class="overnight"><img src="{% static "images/ic_overnight_visits.png" %}" alt=""></span>
		<span class="weekend"><img src="{% static "images/ic_weekend_visits.png" %}" alt=""></span>
		<span class="startguiding"><a href="/become"><img src="{% static "images/ic_start_guiding.png" %}" alt=""></span></a>









	<footer>
		<span class="rectangle"></span>
		<span class="signup"><a href="/become">SIGN UP</span></a>
		<span class="parentsblock"><a href="/parents">PARENTS</span></a>
		<span class="visitblock"><a href="/">VISIT US</span></a>
		<span class="moreinfo">MORE INFO</span>
		<span class="policyblock"><a href="/policy">POLICY</span></a>
		<span class="guidepolicy">GUIDE POLICY</span>
		<span class="insurance">INSURANCE AND SECURITY</span>
		<span class="guideblock"><a href="/become">GUIDE</span></a>
		<span class="faqblock">FAQ's</span>
		<span class="joinus">Join Us On</span>
		<span class="fb"><a href="https://www.facebook.com"><img src="{% static "images/ic_facebook.png" %}" alt=""></span></a>
		<span class="twit"><a href="https://www.twitter.com"><img src="{% static "images/ic_twitter.png" %}" alt=""></span></a>
		<span class="insta"><a href="https://www.instagram.com"><img src="{% static "images/ic_instagram.png" %}" alt=""></span></a>
		<span class="gplus"><a href="https://www.google.com"><img src="{% static "images/ic_googleplus.png" %}" alt=""></span></a>
		<span class="copyright">(c) University Visits, 2018.</span>
		<span class="ques">Questions? E-mail us</span>
		<span class="boxcont"></span>
		<div class="contact"><a href="mailto:contact@universityvisits.net?Subject=Hi%20Had%20%A%Question" target="_top">contact@universityvisits.net</div></a>
	</footer>
</body>
</html>