<! DOCTYPE html>
<html>
<title>University Visits - Become a Guide!</title>
<head>
	<link rel="stylesheet" href="/static/styles_college.css">
</head>
{% load static %}	
<body>
	<div class="bgguide">
	</div>
		<span class="uni"><a href="/">UNIVERSITY VISITS</span></a>
		<span class="parents"><a href="/parents">PARENTS</span></a>
		<span class="visits"><a href="/visits">VISITS</span></a>
		<span class="become"><a href="/become">BECOME A GUIDE</span></a>
		<span class="profile"><a href="/profile"><img src="{% static "images/ic_profile.png" %}" alt=""></span></a>

		<span class="mainguide">Start Earning Now</span>
		<span class="nextguide">  Guides can make over $300 in just one weekend! Becoming a guide is a great way for any undergrad to make some extra cash. University Visits allows you to turn your weekend into a new and easy means of profit!  </span>

		<span class="rect"></span>
		<div class="butt1"><a href="/become">START GUIDING</div></a>
		<span class="bigrect"></span>
		<span class="wantto">WANT TO BE A GUIDE?</span>
		<span class="glad"> Glad you’re interested! Check if you match the requirements. </span>
		<span class="guidereqs"><img src="{% static "images/ic_guidereqs.png" %}" alt=""></span>
		<span class="earnbox"></span>
		<span class="earntext">What you could earn by <strong><font color="lightblue">guiding</font></strong></span>
		<span class="blueavg"></span>
		<span class="weekavg"><img src="{% static "images/ic_weekavg.png" %}" alt=""></span>
		<span class="whyguide"><img src="{% static "images/ic_whyguide.png" %}" alt=""></span>
		<span class="guidefaqs"><img src="{% static "images/ic_guidefaqs.png" %}" alt=""></span>
		<span class="howwork"><img src="{% static "images/ic_how_quest_.png" %}" alt=""></span>
		<span class="paid"><img src="{% static "images/ic_paid.png" %}" alt=""></span>
		<span class="guidefaqs2"><img src="{% static "images/ic_guidefaqs2.png" %}" alt=""></span>
</body>
</html>