<! DOCTYPE html>
<html>
<title>Booking Confirmation - University Visits!</title>
<head>
	<link rel="stylesheet" href="/static/styles_bookvisit.css">
</head>
{% load static %}
<span class="uni" style="color: lightblue">UNIVERSITY VISITS</span>
		<span class="parents" style="color: lightblue">PARENTS</span>
		<span class="visits" style="color: lightblue">VISITS</span>
		<span class="become" style="color: lightblue">BECOME A GUIDE</span>
		<span class="finishbook"> Finish booking your university visit ! </span>
		<span class="sarahbook"><img src="{% static "images/ic_sarah.png" %}" alt=""></span>
		<span class="bookname">Shaun</span>
		<span class="uniname">University of Miami</span>
		<span class="typevisit">Day Visit</span>
		<span class="totalcostheading">COST CALCULATION</span>
		<span class="particulars">Visit Type/Cost p. night</span>
		<span class="numberofnights">No. of nights</span>
		<span class="costper">$99.99</span>
		<span class="costnum">1</span>
		<span class="totalcost">$198.98</span>
		<span class="cancelpolicy"> *Cancellation Policy: Full refund if cancelled 48 hours prior to visit </span>
		<span class="paymentmethod">2. Payment Method</span>
		<span class="paymenttext">Credit or Debit</span>
		<span class="congrats" style="color:blue"><strong>Congratulations! You've made it. ;)</strong></span>