<! DOCTYPE html>
<html>
<title>Booking Confirmation - University Visits!</title>
<head>
	<link rel="stylesheet" href="/static/styles_bookvisit.css">
</head>
{% load static %}
	</div>
		<span class="uni" style="color: lightblue">UNIVERSITY VISITS</span>
		<span class="parents" style="color: lightblue">PARENTS</span>
		<span class="visits" style="color: lightblue">VISITS</span>
		<span class="become" style="color: lightblue">BECOME A GUIDE</span>
		<span class="finishbook"> Finish booking your university visit ! </span>
		<span class="aboutvisit">1. About Your Visit </span>
		<span class="detailvisit"> Full weekend visits typically run for 40 hours: Friday at 5:30 PM – Sunday at 9:30 AM. These times are merely suggestions! As long as you both agree, you and your guide can choose different times to start and conclude the trip. If you want to, you can request to make the visit shorter than 40 Hours. However, the visit should not last longer than 40 hours. <p>You handle the costs of your own meals during the visit. <p>You will sleep in your guide’s off-campus housing for the weekend! Sleeping accommodations are meant to mirror the informal and casual atmosphere of college life. As such, they typically amount to couches, sleeping bags, and makeshift beds. Your guide will also have essentials for you (soap, shampoo, towels, toilet paper). <p>After your guide accepts the request, they’ll contact you! Get to know one another! Your guide will take it from there. </span>
		</p></p></p>
		<span class="nextbook"><a href="/bookconf2"><img src="{% static "images/ic_nextbook.png" %}" alt=""></span>
	</html>

