<! DOCTYPE html>
<html>
<title>Guide Details - University Visits!</title>
<head>
	<link rel="stylesheet" href="/static/styles_bookvisit.css">
</head>
{% load static %}
<div class="bgguide">
	</div>
		<span class="uni"><a href="/">UNIVERSITY VISITS</span></a>
		<span class="parents"><a href="/parents">PARENTS</span></a>
		<span class="visits"><a href="/visits">VISITS</span></a>
		<span class="become"><a href="/become">BECOME A GUIDE</span></a>
		<span class="guidename">Shaun</span>
		<span class="sarah"><img src="{% static "images/ic_sarah.png" %}" alt=""></span>
		<span class="typesofvisits">Handles Overnight visits</span>
		<span class="uniname">University of Miami</span>
		<span class="major">Major : BME</span>
		<span class="year">Year : Sophomore</span>
		<span class="line"></span>
		<span class="line2"></span>
		<span class="rectlast"></span>
		<span class="about">ABOUT ME</span>
		<span class="biodetails">I'm a dick!</span>
		<span class="reviews">REVIEWS</span>
		<span class="videoicon"><img src="{% static "images/ic_videoicon.png" %}" alt=""></span>
		<span class="bluego"></span>
		<span class="letsgo">LET'S GO!</span>
		<div>
  		<form action="">
    	<input type="text" span class="visittype" id="vtype"  placeholder="Visit Type">
		<input type="text" span class="visitdate" id="vdate" name="lastname" placeholder="Visit Date (dd/mm/yyyy)">	
		<input type="text" span class="visitorsnumber" id="vnum" name="mobilenumber" placeholder="Number of Visitors">
	</form>
</div>
	<span class="bookvisit"><a href="/bookconf1"><img src="{% static "images/ic_book.png" %}" alt=""></span></a>
	<span class="disclaimer">*No charges will be applied yet </span>

	</html>