<! DOCTYPE html>
<html>
<title>University Visits - Become a Guide!</title>
<head>
	<link rel="stylesheet" href="/static/styles_guide.css">
</head>
{% load static %}	
<body>
	<div id="navbar">{% block navbar %} 
	<span class="uni"><a href="/" style="color:rgba(113, 145, 215, 1);">UNIVERSITY VISITS</span></a>
	<span class="bookvisit"><a href="/">BACK TO HOME</span></a>
  	<span class="logoutbtn"><a href="/" style="color: rgba(74, 74, 74, 1)">LOG OUT</span></a>
  	<span class="welcome"> Welcome, you’re just steps away from becoming a guide! </span>
	{% endblock %} 
</div>
	<span class="step1"><img src="{% static "images/ic_mainstep2.png" %}" alt=""></span>
	<span class="guideinfo">CHOOSE GUIDE TYPE</span>
	<span class="chooseguidetype">*We have two different types of guide. You must choose <strong>ONE!</strong> </span>
	<span class="guidetype"><img src="{% static "images/ic_typeofguide.png" %}" alt=""></span>

	<form action="">
	<div class="guidechoose">
    <input type="radio" id="day" value="day">
    <label for="day">Day Guide</label>

    <input type="radio" id="night" value="night">
    <label for="night" checked>Overnight Guide</label>
  	</div>
	</form>

	<span class="tidyup"><strong>Tidy up a little </strong><br> <br>
For overnight & full weekend visits, make sure your off-campus housing unit is cleaned up a bit. No need for luxury. Just make sure it’s not a mess!
<br>
Since your visitors stay overnight with you in your off-campus housing for overnight &amp; full weekend visits, you need to supply your visitors with makeshift sleeping accommodations. These are college sleeping accommodations and are meant to mirror the informal and casual atmosphere of college life. So simply couches, sleeping bags, and makeshift beds are perfectly fine! Get some pillows and blankets too! You also need essentials for your overnight visitors – soap, shampoo, towels, toilet paper. Always keep these handy for your visitors! </span>


<span class="gostep3"><a href="/guide8"><img src="{% static "images/ic_step3.png" %}" alt=""></span></a>



<div id="footer">
		{% block footer %}
		<span class="rectangle"></span>
		<span class="signupguide"><a href="/become">SIGN UP</span></a>
		<span class="parentsblock"><a href="/parents">PARENTS</span></a>
		<span class="visitblock"><a href="/">VISIT US</span></a>
		<span class="moreinfo">MORE INFO</span>
		<span class="policyblock"><a href="/policy">POLICY</span></a>
		<span class="guidepolicy">GUIDE POLICY</span>
		<span class="insurance">INSURANCE AND SECURITY</span>
		<span class="guideblock"><a href="/become">GUIDE</span></a>
		<span class="faqblock">FAQ's</span>
		<span class="joinus">Join Us On</span>
		<span class="fb"><a href="https://www.facebook.com"><img src="{% static "images/ic_facebook.png" %}" alt=""></span></a>
		<span class="twit"><a href="https://www.twitter.com"><img src="{% static "images/ic_twitter.png" %}" alt=""></span></a>
		<span class="insta"><a href="https://www.instagram.com"><img src="{% static "images/ic_instagram.png" %}" alt=""></span></a>
		<span class="gplus"><a href="https://www.google.com"><img src="{% static "images/ic_googleplus.png" %}" alt=""></span></a>
		<span class="copyright">(c) University Visits, 2018.</span>
		<span class="ques">Questions? E-mail us</span>
		<span class="boxcont"></span>
		<div class="contact"><a href="mailto:contact@universityvisits.net?Subject=Hi%20Had%20%A%Question" target="_top">contact@universityvisits.net</div></a>
		{% endblock %}
	</div>


</body>
</html>