{% extends "guidebase.html" %}

{% block content %}

{% load static %}
  <span class="visname">Shaun Mukherjee</span>
  <span class="visphone"><img src="{% static "images/ic_profile_info.png" %}" alt=""></span>
  <span class="visnum"> Overnight Guide</span>
  <span class="vismail"><img src="{% static "images/ic_college.png" %}" alt=""></span>
  <span class="visemailid">JHU</span>
  <span class="major"><img src="{% static "images/ic_major.png" %}" alt=""></span>
  <span class="majortxt">BME</span>
  <span class="vishisbox"></span>
  <span class="vishis"><a href="/history">Tour History</span></a>
  <span class="helpbox"></span>
  <span class="helpcentre"><a href="/help">Help Centre</span></a>
  <span class="notifbox"></span>
  <span class="notifs">TOUR HISTORY</span>
  <span class="notifnew">You have no past tours! Let's hope someone books one!</span>
{% endblock %}
