<! DOCTYPE html>
<html>
<title>List of guides available - University Visits!</title>
<head>
	<link rel="stylesheet" href="/static/styles_bookvisit.css">
</head>
{% load static %}
<span class="miamiguides"><strong>University of Miami</strong> guides</span>
<span class="guidepic"></span>
<span class="guidevid"></span>
<span class="guidename"><a href="/guidedetails" style="color: black">Shaun</span></a>
<span class="available">Available : <strong>Day, Overnight</strong></span>


<div id="footer">
		{% block footer %}
		<span class="rectangle"></span>
		<span class="signupguide"><a href="/become">SIGN UP</span></a>
		<span class="parentsblock"><a href="/parents">PARENTS</span></a>
		<span class="visitblock"><a href="/">VISIT US</span></a>
		<span class="moreinfo">MORE INFO</span>
		<span class="policyblock"><a href="/policy">POLICY</span></a>
		<span class="guidepolicy">GUIDE POLICY</span>
		<span class="insurance">INSURANCE AND SECURITY</span>
		<span class="guideblock"><a href="/become">GUIDE</span></a>
		<span class="faqblock">FAQ's</span>
		<span class="joinus">Join Us On</span>
		<span class="fb"><a href="https://www.facebook.com"><img src="{% static "images/ic_facebook.png" %}" alt=""></span></a>
		<span class="twit"><a href="https://www.twitter.com"><img src="{% static "images/ic_twitter.png" %}" alt=""></span></a>
		<span class="insta"><a href="https://www.instagram.com"><img src="{% static "images/ic_instagram.png" %}" alt=""></span></a>
		<span class="gplus"><a href="https://www.google.com"><img src="{% static "images/ic_googleplus.png" %}" alt=""></span></a>
		<span class="copyright">(c) University Visits, 2018.</span>
		<span class="ques">Questions? E-mail us</span>
		<span class="boxcont"></span>
		<div class="contact"><a href="mailto:contact@universityvisits.net?Subject=Hi%20Had%20%A%Question" target="_top">contact@universityvisits.net</div></a>
		{% endblock %}
	</div>
</body>
</html>