<! DOCTYPE html>
<html>
<title>University Visits - Become a Guide!</title>
<head>
	<link rel="stylesheet" href="/static/styles_guide.css">
</head>
{% load static %}	
<!--CODE TO UPLOAD VIDEO IS HERE -->
<script src="jquery-2.1.4.min.js">
	$( document ).ready(function() {
  $("form").submit(function(e) {
      e.preventDefault();
      var fd = new FormData($("form")[0]);
      $.ajax({
        url: $(this).attr('action'),
        data: fd,
        processData: false,
        contentType: false,
        crossDomain: true,
        headers: {'Access-Control-Allow-Origin': '*',
                  'Access-Control-Allow-Methods': 'GET, POST, OPTIONS'},
        type: 'POST',
        success: function(data, textStatus, xhr){
          $(".video-display").html('<p>' + data.html + '</p>');
          console.log('success:' + data.url);
        },
        error: function(XMLHttpRequest, textStatus, errorThrown) {
          // do something with error
          console.log("Upload Failed for video: "  + errorThrown);
        },
        xhr: function()
        {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener("progress", function(evt){
            if (evt.lengthComputable) {
              var percentComplete = (evt.loaded / evt.total) * 100.0;
              console.log('upload completion: ' + percentComplete.toFixed(2) + '%');
            }
          }, false);
          return xhr;
        }
    });
  });

});

</script>













<div id="navbar">{% block navbar %} 
	<span class="uni"><a href="/" style="color:rgba(113, 145, 215, 1);">UNIVERSITY VISITS</span></a>
	<span class="bookvisit"><a href="/">BACK TO HOME</span></a>
  	<span class="logoutbtn"><a href="/" style="color: rgba(74, 74, 74, 1)">LOG OUT</span></a>
  	<span class="welcome"> Welcome, you’re just steps away from becoming a guide! </span>
	{% endblock %} </div>


	
	<span class="step1"><img src="{% static "images/ic_step1.png" %}" alt=""></span>
	<span class="guideinfo">PROFILE</span>
	<span class="phototext">PROFILE PHOTO </span>
	<span class="ic_1_5"><img src="{% static "images/ic_2_6.png" %}" alt=""></span>
	<span class="profpicguide"> Clear frontal face photos are an important way for guides and visitors to learn about each other. Please upload a photo that clearly shows your face. </span>
	<span class="guidepic"></span>
	<span class="profvideo">PROFILE VIDEO </span>
	<form action="https://upload.embed.ly/1/video?key=YOUR_API_KEY" method="POST" enctype="multipart/form-data">
    <input id="video_file" name="video_file" type="file">
    <input type="submit" class="button" value="Upload Your Video!" style="color: black">
</form>
<div class="video-display"></div>

	<span class="checklist">• For reasons of community safety, please do not state your last name of any personal contact information (phone number, address, email, etc) in the  <br>
• We love close-ups, but we suggest, you sit at arm’s length <br>
• You’ve got 30 seconds, so do your best to be concise <br>
• Try to keep the light n front of you, not behind you <br>
• Look into the camera to create that personal connection <br>
</span>

	<span class="morestuff"> Tell the community a little bit about yourself !</span>
	<span class="anothercheck">• First name <br>
• Where are you from? <br>
• What are some of your interests - academic and otherwise? <br>
• What do you do in your spare time? <br>
• What is a fun fact about yourself? <br>
• What are some of your favorite things?</span>



<span class="next2"><a href="/guide3"><img src="{% static "images/ic_nextnew.png" %}" alt=""></span></a>

<div id="footer">
		{% block footer %}
		<span class="rectangle"></span>
		<span class="signupguide"><a href="/become">SIGN UP</span></a>
		<span class="parentsblock"><a href="/parents">PARENTS</span></a>
		<span class="visitblock"><a href="/">VISIT US</span></a>
		<span class="moreinfo">MORE INFO</span>
		<span class="policyblock"><a href="/policy">POLICY</span></a>
		<span class="guidepolicy">GUIDE POLICY</span>
		<span class="insurance">INSURANCE AND SECURITY</span>
		<span class="guideblock"><a href="/become">GUIDE</span></a>
		<span class="faqblock">FAQ's</span>
		<span class="joinus">Join Us On</span>
		<span class="fb"><a href="https://www.facebook.com"><img src="{% static "images/ic_facebook.png" %}" alt=""></span></a>
		<span class="twit"><a href="https://www.twitter.com"><img src="{% static "images/ic_twitter.png" %}" alt=""></span></a>
		<span class="insta"><a href="https://www.instagram.com"><img src="{% static "images/ic_instagram.png" %}" alt=""></span></a>
		<span class="gplus"><a href="https://www.google.com"><img src="{% static "images/ic_googleplus.png" %}" alt=""></span></a>
		<span class="copyright">(c) University Visits, 2018.</span>
		<span class="ques">Questions? E-mail us</span>
		<span class="boxcont"></span>
		<div class="contact"><a href="mailto:contact@universityvisits.net?Subject=Hi%20Had%20%A%Question" target="_top">contact@universityvisits.net</div></a>
		{% endblock %}
	</div>


</body>
</html>