<! DOCTYPE html>
<html>
<title>University Visits!</title>
<head>
	<link rel="stylesheet" href="/static/styles_home.css">
</head>
{% load static %}	
<body>
	<!--THIS IS FOR CREATING A CUSTOM FACEBOOK LOGIN-->
	<div id="fb-root"></div>
	<script>
	(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
	</script>


	<div class="bgimage">
	</div>
		<span class="uni"><a href="/">UNIVERSITY VISITS</span></a>
		<span class="parents"><a href="/parents">PARENTS</span></a>
		<span class="visits"><a href="/visits">VISITS</span></a>
		<span class="become"><a href="/become">BECOME A GUIDE</span></a>
	
	<span class="maintext"> Finding the perfect college just got a whole lot easier </span>
	<span class="nexttext"> Spend a day, night or weekend with undergraduates at any college. Be a college student for a weekend! Go solo or bring friends. </span>
	<span class="rect"></span>
	<div class="butt1"><a href="/become">BECOME A GUIDE</div></a>
	<div class="whitesign"></div>
	<div class="signtext">SIGN UP TO VISIT</div>
	<!-- user/visitor sign up process -->

	
	<div>
  	<form action="/visitor">
    	<input type="text" span class="firstname" id="fname" name="firstname" placeholder="First Name">
		<input type="text" span class="lastname" id="lname" name="lastname" placeholder="Last Name">	
		<input type="E-mail" span class="email" id="email" name="email" placeholder="E-Mail">
		<input type="text" span class="mobile" id="mobile" name="mobilenumber" placeholder="Mobile Number">
		<input type="password" span class="password" id="pwd" name="password" placeholder="Create a password">
		<span class="bdaytext">BIRTHDAY: </span>
		<input type="date" span class="bday" id="bday" name="birthday">
		<input class="w3-radio" type="radio" name="gender" value="male" checked>
 		
    	<input type="submit" span class="signupbtn" value="SIGN UP" style="color:white">
    </form>
	</div>
		<span class="or">OR</span>
    	<span class="signupfb"></span>
    	<a href="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12"><input type="submit" span class="signupfb" value="SIGN UP WITH FACEBOOK" style="color: white"></a>
  

	<div class="Text1">NO MORE SECOND GUESSING</div>
	<div class="Text2"> Need a better and more realistic sense of the college you’re visiting? Or simply want to spend a night at your dream college but don’t know any students who attend the school? </div>

	<div class="Text3">Haven’t been accepted yet? Doesn’t matter.<br>Haven’t even applied? No Worries.<br>Already accepted but still aren’t sure?<br>Our service welcomes you <strong><em>no matter</em></strong> the stage of you college application process.</div>

	<span class="schoolpic"><img src="{% static "images/ic_school.png" %}" alt=""></span>
	<span class="moneypic"><img src="{% static "images/ic_money.png" %}" alt=""></span>
	<span class="plane"><img src="{% static "images/purple_plane_icon.png" %}" alt=""></span>

	<span class="smalltext1">Live with actual college students </span>
	<span class="smalltext2">Rated list of student guides</span>
	<span class="smalltext3">Explore authentic University life</span>
	<span class="newbg"></span>
	<span class="costswhite"><img src="{% static "images/ic_ourcosts.png" %}" alt=""></span>
	<span class="allcostsmain"><img src="{% static "images/all_costs_no_background.png" %}" alt=""></span>
	<span class="mostvisited"><img src="{% static "images/ic_mostvisited.png" %}" alt=""></span>
	<span class="georgia"><img src="{% static "images/ic_georgia.png" %}" alt=""></span>
	<span class="rutgers"><img src="{% static "images/ic_rutgers.png" %}" alt=""></span>
	<span class="miami"><img src="{% static "images/ic_miami.png" %}" alt=""></span>
	<span class="geotext">University of Georgia</span>
	<span class="athens">Athens, Georgia</span>
	<span class="ruttext">Rutgers University</span>
	<span class="bruns">New Brunswick, New Jersey</span>
	<span class="miamitext">University of Miami</span>
	<span class="florida"> Miami-Dade County, Florida </span>
	<span class="photo1"><img src="{% static "images/ic_photo1.png" %}" alt=""></span>
	<span class="photo2"><img src="{% static "images/ic_photo2.png" %}" alt=""></span>
	<span class="photo3"><img src="{% static "images/ic_photo3.png" %}" alt=""></span>
	<span class="word1">“<strong>It was an amazing experience for me. </strong>I had no idea which college I wanted to go to. Going for this visit really gave me the opportunity to see where I could fit in. Besides, I met interesting people from all over the world and we still stay in touch.”</span>
	<span class="word2">“GO! It is really helpful. You get to see different types of colleges and spend time with other kids who are all in the same situation as you. You also get first hand information about how you do college apps. Not to mention the guides are awesome! ”</span>
	<span class="word3">“It was an insightful opportunity. My thoughts on what college life would be like changed for the better after visting and getting first hand experience with a real undergraduate student! Now i’m sure where I want to go, and even more excited!”</span>
	<span class="motto"> College Visitation, Refined. Choose the right school. Choose University Visits. </span>


	<footer>
		<span class="rectangle"></span>
		<span class="signup"><a href="/become">SIGN UP</span></a>
		<span class="parentsblock"><a href="/parents">PARENTS</span></a>
		<span class="visitblock"><a href="/">VISIT US</span></a>
		<span class="moreinfo">MORE INFO</span>
		<span class="policyblock"><a href="/policy">POLICY</span></a>
		<span class="guidepolicy">GUIDE POLICY</span>
		<span class="insurance">INSURANCE AND SECURITY</span>
		<span class="guideblock"><a href="/become">GUIDE</span></a>
		<span class="faqblock">FAQ's</span>
		<span class="joinus">Join Us On</span>
		<span class="fb"><a href="https://www.facebook.com"><img src="{% static "images/ic_facebook.png" %}" alt=""></span></a>
		<span class="twit"><a href="https://www.twitter.com"><img src="{% static "images/ic_twitter.png" %}" alt=""></span></a>
		<span class="insta"><a href="https://www.instagram.com"><img src="{% static "images/ic_instagram.png" %}" alt=""></span></a>
		<span class="gplus"><a href="https://www.google.com"><img src="{% static "images/ic_googleplus.png" %}" alt=""></span></a>
		<span class="copyright">(c) University Visits, 2018.</span>
		<span class="ques">Questions? E-mail us</span>
		<span class="boxcont"></span>
		<div class="contact"><a href="mailto:contact@universityvisits.net?Subject=Hi%20Had%20%A%Question" target="_top">contact@universityvisits.net</div></a>
	</footer>
</body>
</html>

	
