<! DOCTYPE html>
<html>
<title>University Visits!</title>
<head>
	<link rel="stylesheet" href="/static/styles_home.css">
</head>
{% load static %}	
<body>
	<div class="bgimage">
	</div>
		<span class="uni"><a href="/">UNIVERSITY VISITS</span></a>
		<span class="parents"><a href="/parents">PARENTS</span></a>
		<span class="visits"><a href="/visits">VISITS</span></a>
		<span class="become"><a href="/become">BECOME A GUIDE</span></a>
		<span class="profile"><a href="/profile"><img src="{% static "images/ic_profile.png" %}" alt=""></span></a>
	
	<span class="maintext"> Finding the perfect college just got a whole lot easier </span>
	<span class="nexttext"> Spend a day, night or weekend with undergraduates at any college. Be a college student for a weekend! Go solo or bring friends. </span>
	<span class="rect"></span>
	<div class="butt1"><a href="/become">BECOME A GUIDE</div></a>
	<div class="whitesign"></div>
	<div class="signtext">SIGN UP TO VISIT</div>
	<div class="Text1">NO MORE SECOND GUESSING</div>
	<div class="Text2"> Need a better and more realistic sense of the college you’re visiting? Or simply want to spend a night at your dream college but don’t know any students who attend the school? </div>
	<p>
	<div class="Text3">Haven’t been accepted yet? Doesn’t matter.<br>Haven’t even applied? No Worries.<br>Already accepted but still aren’t sure?<br>Our service welcomes you no matter the stage of you college application process.</div>

</body>
</html>

	
