<! DOCTYPE html>
<html>
<title>Parents - See This!</title>
<head>
	<link rel="stylesheet" href="/static/styles_home.css">
</head>
{% load static %}	
<body>
	<div class="bgimage">
	</div>
		<span class="uni"><a href="/">UNIVERSITY VISITS</span></a>
		<span class="parents"><a href="/parents">PARENTS</span></a>
		<span class="visits"><a href="/visits">VISITS</span></a>
		<span class="become"><a href="/become">BECOME A GUIDE</span></a>
		<span class="profile"><a href="/profile"><img src="{% static "images/ic_profile.png" %}" alt=""></span></a>
		<span class="helloparents">Hello Parents</span>
		<span class="msg"> At Yooni, your child’s saftey is our highest pritority. </span>
		<div class="policybutton"><a href="/policy"><img src="{% static "images/ic_see_our_policy.png" %}" alt=""></div></a>
</body>
</html>