<! DOCTYPE html>
<html>
<title>Parents - See This!</title>
<head>
	<link rel="stylesheet" href="/static/styles_home.css">
</head>
{% load static %}	
<body>
		<div class="bgparents"></div>
		<span class="uni"><a href="/">UNIVERSITY VISITS</span></a>
		<span class="parents"><a href="/parents">PARENTS</span></a>
		<span class="visits"><a href="/visits">VISITS</span></a>
		<span class="become"><a href="/become">BECOME A GUIDE</span></a>
		<span class="profile"><a href="/visitor"><img src="{% static "images/ic_profileicon.png" %}" alt=""></span></a>
		<span class="helloparents">Hello Parents</span>
		<span class="msg"> At Yooni, your child’s saftey is our highest pritority. </span>
		<div class="policybutton"><a href="/policy"><img src="{% static "images/ic_see_our_policy.png" %}" alt=""></div></a>
		<span class="safety">Safety</span>
		<span class="safety1"> All guides are verified students at an accredited US university or college. We accept only the best of college students into our program as guides. Our guides must maintain a cumulative <strong>GPA of 2.5 or higher</strong> to participate.</span>
		<span class="safety2">For <strong>overnight and full weekend </strong> visits, visitors reside with guides of their own gender. For further ease of mind, all guides also undergo extensive background checks administered by Checkr, Inc. </span>
		<br>
		<span class="checkr"><a href="https://www.checkr.com" style="color: lightblue">Learn more about Checkr!</span></a>
		<span class="comm">Communication</span>
		<span class="comm1"> At University Visits, we also understand that your ability to remain in constant contact with your child is a must. We supply all visitors with their guide’s phone number and email address, along with an ability to reach them through our online messaging platform. </span>
		<span class="comm2"> In the event that a visitor misplaces or loses access to their mobile device and a parent can no longer reach their child directly, parents can get in touch with their child’s guide using the supplied contact information. </span>
		<span class="cost">Cost of Transferring</span>
		<span class="cost1"> At University Visits, we aim to help your child find the college that is truly right for them, ensuring that they are less likely to transfer in the future. </span>
		<span class="timepic"><img src="{% static "images/ic_save_time.png" %}" alt=""></span>
		<span class="doubtpic"><img src="{% static "images/ic_eliminate_doubt.png" %}" alt=""></span>
		<span class="savepic"><img src="{% static "images/ic_save_money.png" %}" alt=""></span>
		<span class="timetext">SAVE TIME</span>
		<span class="doubttext">ELIMINATE DOUBT</span>
		<span class="savetext">SAVE MONEY</span>
		<span class="ourcosts"><img src="{% static "images/ic_ourcostspurple.png" %}" alt=""></span>
		<span class="timemore"> Transferring leads to higher costs and wasted time. </span>
		<span class="doubtmore"> Over a third of college students transfer at least once. </span>
		<span class="savemore">  Transfer students spend nearly 15 thousand dollars more on average! </span>
		<span class="data1"><img src="{% static "images/data1.png" %}" alt=""></span>
		<span class="data2"><img src="{% static "images/data2.png" %}" alt=""></span>
		<span class="allcosts"><img src="{% static "images/all_costs_no_background.png" %}" alt=""></span>
		<span class="book1"><a href="/become"><img src="{% static "images/ic_bookyourvisit.png" %}" alt=""></span>
		<span class="book2"><a href="/become"><img src="{% static "images/ic_bookyourvisit.png" %}" alt=""></span>
		<span class="book3"><a href="/become"><img src="{% static "images/ic_bookyourvisit.png" %}" alt=""></span>


		<span class="rectangle"></span>
		<span class="signup"><a href="/become">SIGN UP</span></a>
		<span class="parentsblock"><a href="/parents">PARENTS</span></a>
		<span class="visitblock"><a href="/">VISIT US</span></a>
		<span class="moreinfo">MORE INFO</span>
		<span class="policyblock"><a href="/policy">POLICY</span></a>
		<span class="guidepolicy">GUIDE POLICY</span>
		<span class="insurance">INSURANCE AND SECURITY</span>
		<span class="guideblock"><a href="/become">GUIDE</span></a>
		<span class="faqblock">FAQ's</span>
		<span class="joinus">Join Us On</span>
		<span class="fb"><a href="https://www.facebook.com"><img src="{% static "images/ic_facebook.png" %}" alt=""></span></a>
		<span class="twit"><a href="https://www.twitter.com"><img src="{% static "images/ic_twitter.png" %}" alt=""></span></a>
		<span class="insta"><a href="https://www.instagram.com"><img src="{% static "images/ic_instagram.png" %}" alt=""></span></a>
		<span class="gplus"><a href="https://www.google.com"><img src="{% static "images/ic_googleplus.png" %}" alt=""></span></a>
		<span class="copyright">(c) University Visits, 2018.</span>
		<span class="ques">Questions? E-mail us</span>
		<span class="boxcont"></span>
		<div class="contact"><a href="mailto:contact@universityvisits.net?Subject=Hi%20Had%20%A%Question" target="_top">contact@universityvisits.net</div></a>
</body>
</html>