{% extends "visitorbase.html" %}

{% block content %}

{% load static %}
  <span class="visname">Eric Trattner</span>
  <span class="visphone"><img src="{% static "images/ic_phone.png" %}" alt=""></span>
  <span class="visnum">11111111</span>
  <span class="vismail"><img src="{% static "images/ic_email.png" %}" alt=""></span>
  <span class="visemailid">etratt@gmail.com</span>
  <span class="vishisbox"></span>
  <span class="vishis"><a href="/history">Visit History</span></a>
  <span class="helpbox"></span>
  <span class="helpcentre"><a href="/help">Help Centre</span></a>
  <span class="notifbox"></span>
  <span class="notifs">VISIT HISTORY</span>
  <span class="notifnew">You have no past visits! If you want to book a visit, please visit the 'book my visit' section of our website!</span>
{% endblock %}
