<! DOCTYPE html>
<html>
<title>Colleges - Visit them!</title>
<head>
	<link rel="stylesheet" href="/static/styles_college.css">
</head>
{% load static %}	
<body>
	<div class="bgparents">
	</div>
		<span class="uni"><a href="/">UNIVERSITY VISITS</span></a>
		<span class="parents"><a href="/parents">PARENTS</span></a>
		<span class="visits"><a href="/visits">VISITS</span></a>
		<span class="become"><a href="/become">BECOME A GUIDE</span></a>
		<span class="profile"><a href="/profile"><img src="{% static "images/ic_profile.png" %}" alt=""></span></a>

		<span class="maintext">Colleges</span>
		<span class="nexttext"> Live with actual college students! Explore authentic university life! College applications alone can cost thousands. Truly figure out where you want to go before even filling out a single application. </span>

	<span class="georgia"><img src="{% static "images/ic_georgia.png" %}" alt=""></span>
	<span class="rutgers"><img src="{% static "images/ic_rutgers.png" %}" alt=""></span>
	<span class="miami"><a href="/guidelist"><img src="{% static "images/ic_miami.png" %}" alt=""></span></a>
	<span class="geotext">University of Georgia</span>
	<span class="athens">Athens, Georgia</span>
	<span class="ruttext">Rutgers University</span>
	<span class="bruns">New Brunswick, New Jersey</span>
	<span class="miamitext">University of Miami</span>
	<span class="florida"> Miami-Dade County, Florida </span>
	<span class="first"><u>1</u></span>
	<span class="second"><a href="/visits" style="color:rgba(155, 155, 155, 1)">2</span></a>
	<span class="third">3</span>
	<span class="costs"><img src="{% static "images/ic_ourcostspurple.png" %}" alt=""></span>
	<span class="allcostsmain"><img src="{% static "images/all_costs_no_background.png" %}" alt=""></span>
	<span class="book1"><a href="/become"><img src="{% static "images/ic_bookyourvisit.png" %}" alt=""></span>
	<span class="book2"><a href="/become"><img src="{% static "images/ic_bookyourvisit.png" %}" alt=""></span>
	<span class="book3"><a href="/become"><img src="{% static "images/ic_bookyourvisit.png" %}" alt=""></span>







		<footer>
		<span class="rectangle"></span>
		<span class="signup"><a href="/become">SIGN UP</span></a>
		<span class="parentsblock"><a href="/parents">PARENTS</span></a>
		<span class="visitblock"><a href="/">VISIT US</span></a>
		<span class="moreinfo">MORE INFO</span>
		<span class="policyblock"><a href="/policy">POLICY</span></a>
		<span class="guidepolicy">GUIDE POLICY</span>
		<span class="insurance">INSURANCE AND SECURITY</span>
		<span class="guideblock"><a href="/become">GUIDE</span></a>
		<span class="faqblock">FAQ's</span>
		<span class="joinus">Join Us On</span>
		<span class="fb"><a href="https://www.facebook.com"><img src="{% static "images/ic_facebook.png" %}" alt=""></span></a>
		<span class="twit"><a href="https://www.twitter.com"><img src="{% static "images/ic_twitter.png" %}" alt=""></span></a>
		<span class="insta"><a href="https://www.instagram.com"><img src="{% static "images/ic_instagram.png" %}" alt=""></span></a>
		<span class="gplus"><a href="https://www.google.com"><img src="{% static "images/ic_googleplus.png" %}" alt=""></span></a>
		<span class="copyright">(c) University Visits, 2018.</span>
		<span class="ques">Questions? E-mail us</span>
		<span class="boxcont"></span>
		<div class="contact"><a href="mailto:contact@universityvisits.net?Subject=Hi%20Had%20%A%Question" target="_top">contact@universityvisits.net</div></a>
	</footer>
</body>
</html>
