{% extends "visitorbase.html" %}

{% block content %}

{% load static %}
  <span class="visname">Eric Trattner</span>
  <span class="visphone"><img src="{% static "images/ic_phone.png" %}" alt=""></span>
  <span class="visnum">11111111</span>
  <span class="vismail"><img src="{% static "images/ic_email.png" %}" alt=""></span>
  <span class="visemailid">etratt@gmail.com</span>
  <span class="vishisbox"></span>

  
  <div id="profpic"><img src="{% static "images/ic_profilepic.png" %}" alt=""></div>
   <div id="profpic"><img id="blah" alt="" width="199" height="199" /></div>
<span class="photo"><input type="file" 
    onchange="document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])"></span>
 
  <span class="vishis"><a href="/history">Visit History</span></a>
  <span class="helpbox"></span>
  <span class="helpcentre"><a href="/help">Help Centre</span></a>
  <span class="notifbox"></span>
  <span class="notifs">NOTIFICATIONS</span>
  <span class="notifmsg">You have <strong>1</strong> new notification!</span>
  <span class="notifnew">Welcome to your first login! If you want to book a visit, please visit the 'book my visit' section of our website!</span>
  <span class="msgbox"></span>
  <span class="msgs">MESSAGES</span>
  <span class="bookvisit">BOOK ANOTHER VISIT</span>
  <span class="logoutbtn"><a href="/" style="color: rgba(74, 74, 74, 1)">LOG OUT</span></a>
{% endblock %}
