a:link {
	color: white;
	text-decoration: none;
}
a:visited{
	color: red;
	text-decoration: none;
}
.miamiguides{
	white-space: nowrap;
	position: absolute;
top: 99px;
left: 253px;
height: 43px;
width: 442px;
/*Text styles for University */
font-family: 'National';
font-size: 35px;
font-weight: 500;
color: rgba(74, 74, 74, 1);
text-align: left;
/*Text styles for guides */
font-family: 'National-Light';
font-size: 35px;
color: rgba(74, 74, 74, 1);
text-align: left;

}


.guidepic{
	position: absolute;
top: 304px;
left: 297px;
height: 264px;
width: 264px;
background-color: lightblue;

}
.guidevid{
	position: absolute;
top: 382px;
left: 374px;
height: 107px;
width: 107px;
background-color: rgba(255, 255, 255, 1);
border-radius: 107px;


}
.guidename{
	position: absolute;
top: 578px;
left: 309px;
height: 29px;
width: 194px;
font-family: 'San Francisco Text';
font-size: 16px;
font-weight: 500;
color: rgba(35, 31, 32, 1);
text-align: left;
letter-spacing: 0.01em;
line-height: 29px;

}

.available{
	white-space: nowrap;
	position: absolute;
top: 602px;
left: 309px;
height: 29px;
width: 174px;
/*Text styles for Available: */
font-family: 'San Francisco Text';
font-size: 13px;
color: rgba(90, 89, 89, 1);
text-align: left;
line-height: 29px;

}

.uni{
	position: absolute;
top: 29px;
left: 32px;
height: 25px;
width: 298px;
/*Text styles for UNIVERSITY */
font-family: 'Akrobat';
font-size: 21px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.1em;
line-height: 25px;
/*Text styles for S */
font-family: 'Akrobat';
font-size: 21px;
color: rgba(255, 255, 255, 1);
text-align: left;
line-height: 25px;
}

.bgguide{
	background-image: url("images/ic_miami_guide.png");
position: absolute;
top: 0px;
left: 0px;
height: 484px;
width: 1440px;
background-repeat: no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
	}
.parents{
	position: absolute;
top: 34px;
left: 927px;
height: 20px;
width: 64px;
font-family: 'National';
font-size: 17px;
color: rgba(255, 255, 255, 1);
text-align: right;

}
.visits{
	position: absolute;
top: 34px;
left: 1029px;
height: 20px;
width: 51px;
font-family: 'National';
font-size: 17px;
color: rgba(255, 255, 255, 1);
text-align: right;

}
.become{
	position: absolute;
top: 34px;
left: 1117px;
height: 20px;
width: 119px;
font-family: 'National';
font-size: 17px;
color: rgba(255, 255, 255, 1);
text-align: center;
}


.guidename{
	position: absolute;
top: 318px;
left: 676px;
height: 36px;
width: 88px;
font-family: 'San Francisco Text';
font-size: 30px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: center;

}

.typesofvisits{
	position: absolute;
top: 396px;
left: 616px;
height: 29px;
width: 208px;
font-family: 'San Francisco Text';
font-size: 14px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
text-align: center;
line-height: 29px;

}

.collegename{
	white-space: nowrap;
	position: absolute;
top: 536px;
left: 293px;
height: 16px;
width: 121px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;

}

.major{
	position: absolute;
top: 536px;
left: 487px;
height: 16px;
width: 168px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;


}

.year{
	white-space: nowrap;
position: absolute;
top: 536px;
left: 709px;
height: 16px;
width: 123px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;

}

.line{
	position: absolute;
top: 520px;
left: 277px;
height: 1px;
width: 565px;
border: 1px solid rgba(190, 186, 186, 1);


}
.about{
	position: absolute;
top: 602px;
left: 286px;
height: 27px;
width: 258px;
font-family: 'National';
font-size: 22px;
font-weight: 600;
color: rgba(56, 89, 159, 1);
text-align: left;
letter-spacing: 0.02em;

}

.line2{
	position: absolute;
top: 567px;
left: 277px;
height: 1px;
width: 565px;
border: 1px solid rgba(190, 186, 186, 1);

}
.biodetails{
	position: absolute;
top: 646px;
left: 286px;
height: 85px;
width: 548px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(0, 0, 0, 1);
text-align: left;
letter-spacing: 0.02em;
line-height: 17px;

}

.videoicon{
	position: absolute;
top: 520px;
left: 999px;
height: 212px;
width: 329px;
background-color: rgba(113, 145, 215, 0.1);

}

.bluego{
	position: absolute;
top: 783px;
left: 1000px;
height: 40px;
width: 328px;
background-color: rgba(113, 145, 215, 1);
border-radius: 10px 10px 0px 0px;

}

.letsgo{
	position: absolute;
top: 794px;
left: 1070px;
height: 21px;
width: 186px;
font-family: 'National';
font-size: 18px;
font-weight: 500;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.03em;

}
.reviews{
	position: absolute;
top: 816px;
left: 286px;
height: 27px;
width: 258px;
font-family: 'National';
font-size: 22px;
font-weight: 600;
color: rgba(56, 89, 159, 1);
text-align: left;
letter-spacing: 0.02em;

}

.visittype{
	position: absolute;
top: 865px;
left: 1025px;
height: 40px;
width: 276px;
background-color: rgba(255, 255, 255, 1);
border: 1px solid rgba(225, 225, 225, 1);

}

.visitdate{
	position: absolute;
top: 934px;
left: 1025px;
height: 40px;
width: 276px;
background-color: rgba(255, 255, 255, 1);
border: 1px solid rgba(225, 225, 225, 1);

}

.visitorsnumber{
	position: absolute;
top: 1003px;
left: 1025px;
height: 40px;
width: 276px;
background-color: rgba(255, 255, 255, 1);
border: 1px solid rgba(225, 225, 225, 1);

}
.sarah{
	position: absolute;
top: 128px;
left: 636px;
height: 168px;
width: 168px;

}

.rectlast{
	position: absolute;
top: 783px;
left: 1000px;
height: 365px;
width: 328px;
background-color: rgba(245, 245, 245, 1);
border-radius: 10px 10px 0px 0px;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.22);

}
.bookvisit{
	position: absolute;
top: 1070px;
left: 1084px;
height: 36px;
width: 160px;

}

.disclaimer{
	white-space: nowrap;
	position: absolute;
top: 1112px;
left: 1095px;
height: 12px;
width: 139px;
font-family: 'San Francisco Text';
font-size: 10px;
font-weight: 300;
color: rgba(74, 74, 74, 1);
text-align: center;

}

.finishbook{
	position: absolute;
top: 112px;
left: 253px;
height: 43px;
width: 564px;
font-family: 'National';
font-size: 35px;
font-weight: 500;
color: rgba(0, 0, 0, 1);
text-align: left;

}

.aboutvisit{
	position: absolute;
top: 206px;
left: 253px;
height: 24px;
width: 354px;
font-family: 'San Francisco Text';
font-size: 20px;
color: rgba(0, 0, 0, 1);
text-align: left;

}

.detailvisit{
	position: absolute;
top: 257px;
left: 253px;
height: 336px;
width: 506px;
font-family: 'San Francisco Text';
font-size: 14px;
font-weight: 300;
color: rgba(0, 0, 0, 1);
text-align: left;
line-height: 21px;


}
.finalstep{
	position: absolute;
top: 204px;
left: 192px;
}

.sarahbook{
position: absolute;
top: 107px;
left: 936px;
height: 138px;
width: 138px;
}



.bookname{
	position: absolute;
top: 283px;
left: 981px;
height: 24px;
width: 88px;
font-family: 'San Francisco Text';
font-size: 20px;
color: rgba(74, 74, 74, 1);
text-align: center;

}


.uniname{
	position: absolute;
top: 323px;
left: 961px;
height: 16px;
width: 145px;
font-family: 'San Francisco Text';
font-size: 14px;
font-weight: 600;
color: rgba(74, 74, 74, 1);
text-align: center;

}

.typevisit{
	position: absolute;
top: 388px;
left: 964px;
height: 18px;
width: 122px;
font-family: 'San Francisco Text';
font-size: 15px;
color: rgba(74, 74, 74, 1);
text-align: center;

}

.totalcostheading{
	white-space: nowrap;
	position: absolute;
top: 506px;
left: 954px;
height: 18px;
width: 122px;
font-family: 'San Francisco Text';
font-size: 13px;
color: rgba(74, 74, 74, 1);
text-align: center;

}

.particulars{
	white-space: nowrap;
	position: absolute;
top: 543px;
left: 909px;
height: 14px;
width: 170px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 500;
color: rgba(74, 74, 74, 1);
text-align: left;

}

.numberofnights{
	position: absolute;
top: 568px;
left: 909px;
height: 14px;
width: 170px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 500;
color: rgba(74, 74, 74, 1);
text-align: left;

}

.costper{
	position: absolute;
top: 543px;
left: 1108px;
height: 14px;
width: 52px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 600;
color: rgba(56, 89, 159, 1);
text-align: right;

}

.costnum{
	position: absolute;
top: 568px;
left: 1096px;
height: 14px;
width: 64px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 600;
color: rgba(56, 89, 159, 1);
text-align: right;

}

.totalcost{
	position: absolute;
top: 605px;
left: 1096px;
height: 19px;
width: 64px;
font-family: 'San Francisco Text';
font-size: 16px;
font-weight: bold;
color: rgba(56, 89, 159, 1);
text-align: right;

}

.cancelpolicy{
	position: absolute;
top: 653px;
left: 886px;
height: 12px;
width: 299px;
font-family: 'San Francisco Text';
font-size: 10px;
font-weight: 300;
color: rgba(74, 74, 74, 1);
text-align: left;

}

.paymentmethod{
	position: absolute;
top: 256px;
left: 253px;
height: 24px;
width: 354px;
font-family: 'San Francisco Text';
font-size: 20px;
color: rgba(0, 0, 0, 1);
text-align: left;

}

.paymenttext{
	position: absolute;
top: 286px;
left: 253px;
height: 21px;
width: 506px;
font-family: 'San Francisco Text';
font-size: 14px;
font-weight: 300;
color: rgba(0, 0, 0, 1);
text-align: left;
line-height: 21px;

}


.notsure{
	white-space: nowrap;
	position: absolute;
top: 366px;
left: 253px;
height: 24px;
width: 354px;
font-family: 'San Francisco Text';
font-size: 14px;
color: prussianblue;
text-align: left;
}

.finalbook{
	position: absolute;
	top: 426px;
	left: 253px;
}

.nextbook{
	position: absolute;
top: 367px;
left: 73px;
height: 29px;
width: 101px;

}




/* THE NEXT BLOCK IS TO BE ON ALL PAGES, HENCE IS MENTIONED SEPARATELY */

.rectangle{
	position: absolute;
top: 3217px;
bottom: 0;
left: 0px;
height: 351px;
width: 1440px;
background-color: rgba(33, 40, 48, 1);

}

.signup{
	position: absolute;
top: 3359px;
bottom: 0;
left: 119px;
height: 14px;
width: 90px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}

.moreinfo{
	white-space: nowrap;
	position: absolute;
top: 3359px;
left: 243px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.faqblock{
	position: absolute;
top: 3412px;
left: 243px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.guideblock{
	position: absolute;
top: 3412px;
left: 119px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.policyblock{
	position: absolute;
top: 3359px;
left: 359px;
height: 14px;
width: 86px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}

.guidepolicy{
	white-space: nowrap;
	position: absolute;
top: 3389px;
left: 359px;
height: 14px;
width: 107px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}

.insurance{
	white-space: nowrap;
	position: absolute;
top: 3412px;
left: 359px;
height: 14px;
width: 159px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.joinus{
	white-space: nowrap;
	position: absolute;
top: 3358px;
left: 676px;
height: 15px;
width: 84px;
font-family: 'Roboto';
font-size: 13px;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.12em;

}
.smallrect{
	position: absolute;
top: 3393px;
left: 920px;
height: 33px;
width: 251px;
background-color: rgba(255, 255, 255, 0.3);
border-radius: 8px;

}
.ques{
	white-space: nowrap;
	position: absolute;
top: 3358px;
left: 966px;
height: 15px;
width: 159px;
font-family: 'Roboto';
font-size: 13px;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.12em;

}

.visitblock{
	position: absolute;
top: 3389px;
left: 119px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.parentsblock{
	position: absolute;
top: 3389px;
left: 243px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}

.fb{
	position: absolute;
top: 3389px;
left: 637px;
height: 31px;
width: 31px;

}

.twit{
	position: absolute;
top: 3389px;
left: 680px;
height: 31px;
width: 31px;

}

.gplus{
	position: absolute;
top: 3389px;
left: 722px;
height: 31px;
width: 31px;

}

.insta{
	position: absolute;
top: 3389px;
left: 764px;
height: 31px;
width: 31px;

}

.boxcont{
	position: absolute;
top: 3393px;
left: 920px;
height: 33px;
width: 251px;
background-color: rgba(255, 255, 255, 0.3);
border-radius: 8px;

}
.contact{
	position: absolute;
top: 3403px;
left: 924px;
height: 13px;
width: 242px;
font-family: 'Roboto';
font-size: 11px;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.12em;

}
.copyright{
	position: absolute;
top: 3544px;
left: 484px;
height: 14px;
width: 459px;
font-family: 'Roboto';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.12em;

}

