a:link {
	color: rgba(255, 255, 255, 1);
	text-decoration: none;
}

a:visited{
	color: rgba(90, 89, 89, 1);
	text-decoration: none;
}
.uni{
	white-space: nowrap;
	position: absolute;
top: 29px;
left: 32px;
height: 25px;
width: 298px;
/*Text styles for UNIVERSITY */
font-family: 'Akrobat';
font-size: 15px;
color: rgba(113, 145, 215, 1);
text-align: left;
letter-spacing: 0.1em;
line-height: 25px;
overflow: hidden;

}



.dash{
	white-space: nowrap;
	position: absolute;
top: 64px;
left: 183px;
height: 41px;
width: 176px;
font-family: 'National';
font-size: 15px;
color: rgba(0, 0, 0, 1);
text-align: left;
letter-spacing: 0.03em;
line-height: 50px;
text-decoration: none;
}
.rectnew{
	position: relative;
top: 0px;
left: 0px;
height: 50px;
width: 1440px;
background-color: rgba(255, 255, 255, 1);
box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);

}

.visname{
	white-space: nowrap;
	position: absolute;
top: 380px;
left: 201px;
height: 30px;
width: 159px;
font-family: 'San Francisco Text';
font-size: 25px;
font-weight: 500;
color: rgba(0, 0, 0, 1);
text-align: center;

}

.visphone{
	position: absolute;
top: 460px;
left: 200px;
height: 14px;
width: 10px;

}

.visnum{
	position: absolute;
top: 457px;
left: 227px;
height: 16px;
width: 182px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;

}

.vismail{
	position: absolute;
top: 489px;
left: 199px;
height: 10px;
width: 13px;

}

.visemailid{
	position: absolute;
top: 485px;
left: 227px;
height: 16px;
width: 182px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;

}

.vishisbox{
	position: absolute;
top: 559px;
left: 199px;
height: 35px;
width: 161px;
background-color: rgba(255, 255, 255, 1);
border: 1px solid rgba(225, 225, 225, 1);

}

.vishis{
	position: absolute;
top: 569px;
left: 211px;
height: 16px;
width: 137px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: center;
}

.helpbox{
position: absolute;
top: 602px;
left: 199px;
height: 35px;
width: 161px;
background-color: rgba(255, 255, 255, 1);
border: 1px solid rgba(225, 225, 225, 1);

}

.helpcentre{
position: absolute;
top: 612px;
left: 211px;
height: 16px;
width: 137px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: center;

}


.notifbox{
	position: absolute;
top: 165px;
left: 510px;
height: 40px;
width: 721px;
background-color: rgba(228, 232, 239, 1);
border-radius: 10px 10px 0px 0px;

}

.notifs{
	white-space: nowrap;
	position: absolute;
top: 175px;
left: 530px;
height: 21px;
width: 119px;
/*Text styles for NOTIFICATI */
font-family: 'National';
font-size: 18px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.03em;
/*Text styles for S */
font-family: 'National';
font-size: 18px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.02em;

}
#profpic{
	position: absolute;
top: 162px;
left: 181px;
height: 199px;
width: 199px;


}
input[type='file'] {
  color: transparent;
  opacity: 0;
  display: none;
}

.photo{
	position: absolute;
	top: 244px;
	left: 225px;
	width: 30px;
}
.bookvisit{
	white-space: nowrap;
	position: absolute;
top: 29px;
left: 837px;
height: 19px;
width: 185px;
font-family: 'National';
font-size: 15px;
color: rgba(74, 74, 74, 1);
text-align: right;

}
.logoutbtn{
	white-space: nowrap;
	position: absolute;
top: 29px;
left: 1119px;
height: 19px;
width: 63px;
font-family: 'National';
font-size: 15px;
color: rgba(74, 74, 74, 1);
text-align: center;

}
.notifmsg{
	white-space: nowrap;
	position: absolute;
top: 215px;
left: 687px;
height: 21px;
width: 367px;
font-family: 'National';
font-size: 12px;
color: rgba(74, 74, 74, 1);
text-align: center;
letter-spacing: 0.03em;
}
.notifnew{

	position: absolute;
top: 315px;
left: 617px;
height: 21px;
width: 467px;
font-family: 'National';
font-size: 18px;
color: rgba(74, 74, 74, 1);
text-align: center;
letter-spacing: 0.03em;

}
.msgbox{
	position: absolute;
top: 475px;
left: 510px;
height: 40px;
width: 721px;
background-color: rgba(228, 232, 239, 1);
border-radius: 10px 10px 0px 0px;

}

.msgs{
	position: absolute;
top: 485px;
left: 530px;
height: 21px;
width: 205px;
font-family: 'National';
font-size: 18px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.03em;

}



.pend{
	white-space: nowrap;
	position: absolute;
top: 64px;
left: 418px;
height: 41px;
width: 166px;
font-family: 'National';
font-size: 15px;
font-weight: 300;
color: rgba(90, 89, 89, 1);
text-align: left;
letter-spacing: 0.03em;
line-height: 50px;
text-decoration: none;
}
.upcoming{
	white-space: nowrap;
	position: absolute;
top: 64px;
left: 603px;
height: 41px;
width: 154px;
font-family: 'National';
font-size: 15px;
font-weight: 300;
color: rgba(90, 89, 89, 1);
text-align: left;
letter-spacing: 0.03em;
line-height: 50px;

}

/* CSS SPECIFIC TO GUIDE SIGN UP PROCESS */
.welcome{
	white-space: nowrap;
	position: absolute;
top: 76px;
left: 185px;
height: 39px;
width: 649px;
font-family: 'National';
font-size: 25px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.03em;
line-height: 50px;

}

.step1{
	position: absolute;
top: 170px;
left: 227px;
height: 45px;
width: 987px;

}

.guideinfo{
	position: absolute;
top: 265px;
left: 275px;
height: 24px;
width: 430px;
font-family: 'National';
font-size: 20px;
font-weight: bold;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.03em;

}

.ic_1_5{
	position: absolute;
top: 301px;
left: 248px;
height: 20px;
width: 944px;

}

.firstname{
	position: absolute;
top: 374px;
left: 521px;
height: 30px;
width: 496px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;
}

.lastname{
	position: absolute;
top: 421px;
left: 521px;
height: 30px;
width: 496px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.email{
	position: absolute;
top: 505px;
left: 521px;
height: 30px;
width: 496px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.phone{
	position: absolute;
top: 552px;
left: 521px;
height: 30px;
width: 496px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.phonedisclaimer{
	position: absolute;
top: 588px;
left: 523px;
height: 24px;
width: 330px;
font-family: 'San Francisco Text';
font-size: 10px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.04em;

}

.uniname{
	position: absolute;
top: 636px;
left: 521px;
height: 30px;
width: 353px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.major{
	position: absolute;
top: 684px;
left: 521px;
height: 30px;
width: 496px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.year{
	position: absolute;
top: 730px;
left: 521px;
height: 30px;
width: 93px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.graddate{
	position: absolute;
top: 730px;
left: 803px;
height: 30px;
width: 122px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.bdaytext{
	position: absolute;
top: 783px;
left: 362px;
height: 16px;
width: 122px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: right;
letter-spacing: 0.04em;

}

.bday{
	position: absolute;
top: 777px;
left: 521px;
height: 30px;
width: 193px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}
.bio{
	position: absolute;
top: 824px;
left: 521px;
height: 103px;
width: 496px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.biodetails{
	position: absolute;
top: 941px;
left: 523px;
height: 36px;
width: 330px;
font-family: 'San Francisco Text';
font-size: 10px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.04em;

}

.bigrect{
	position: absolute;
top: 248px;
left: 242px;
height: 835px;
width: 956px;

}
.nextbtn{
	position: absolute;
top: 1123px;
left: 1059px;
height: 44px;
width: 133px;

}

.profpicguide{
	position: absolute;
top: 391px;
left: 576px;
height: 64px;
width: 290px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.04em;

}


.guidepic{
	
position: absolute;
top: 344px;
left: 284px;
height: 222px;
width: 222px;
background-color: rgba(214, 238, 238, 1);
border-radius: 222px;

}

.profvideo{
	white-space: nowrap;
	position: absolute;
top: 677px;
left: 574px;
height: 27px;
width: 178px;
font-family: 'National';
font-size: 22px;
font-weight: bold;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.03em;

}

.checklist{
	position: absolute;
top: 780px;
left: 574px;
height: 147px;
width: 583px;
/*Text styles for •	For reas */
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.04em;
line-height: 21px;
/*Text styles for •	We love  */
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;
line-height: 21px;

}

.phototext
{
white-space: nowrap;
position: absolute;
top: 344px;
left: 574px;
height: 27px;
width: 245px;
font-family: 'National';
font-size: 22px;
font-weight: bold;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.03em;

}
.morestuff{
	position: absolute;
top: 966px;
left: 574px;
height: 27px;
width: 431px;
font-family: 'National';
font-size: 22px;
font-style: italic;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.03em;

}

.next2{
	position: absolute;
top: 1263px;
left: 1060px;
height: 44px;
width: 133px;

}
.anothercheck{
	position: absolute;
top: 1043px;
left: 574px;
height: 126px;
width: 583px;
/*Text styles for •	First na */
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.04em;
line-height: 21px;
/*Text styles for •	Where ar */
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;
line-height: 21px;

}



.policychoose{
	white-space: nowrap;
	position: absolute;
top: 348px;
left: 501px;
height: 27px;
width: 489px;
font-family: 'National';
font-size: 22px;
font-style: italic;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.03em;

}

.policytypes{
	position: absolute;
top: 395px;
left: 484px;
height: 63px;
width: 378px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.04em;
line-height: 21px;

}

.policybox{
	position: absolute;
top: 525px;
left: 579px;
height: 30px;
width: 199px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.next4{
	position: absolute;
top: 654px;
left: 1060px;
height: 44px;
width: 133px;

}


.custom-file-upload {
	position:absolute;
	top: 403px;
	left: 286px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.gotostep2{
	position: absolute;
top: 1096px;
left: 950px;
height: 44px;
width: 242px;

}
.rectcheckr{
	position: absolute;
top: 652px;
left: 248px;
height: 395px;
width: 944px;
background-color: rgba(255, 255, 255, 1);
border-radius: 0px 0px 8px 8px;
box-shadow: 0px 2px 6px 0px rgba(209, 209, 209, 1);


}
.summaryrights{
	white-space: nowrap;
	position: absolute;
top: 665px;
left: 275px;
height: 24px;
width: 678px;
font-family: 'National';
font-size: 20px;
font-weight: bold;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.03em;

}
.fnamecheckr{
	position: absolute;
top: 465px;
left: 418px;
height: 30px;
width: 180px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}


.lnamecheckr{
	position: absolute;
top: 465px;
left: 799px;
height: 30px;
width: 180px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;


}

.mnamecheckr{position: absolute;
top: 465px;
left: 609px;
height: 30px;
width: 180px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;


}

.zipcode{
position: absolute;
top: 518px;
left: 418px;
height: 30px;
width: 180px;
border: 1px solid rgba(151, 151, 151, 1);
border-radius: 3px;

}

.checkrtext{
	position: absolute;
top: 345px;
left: 344px;
height: 72px;
width: 752px;
font-family: 'San Francisco Text';
font-size: 14px;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.04em;
line-height: 18px;

}


.chooseguidetype{
	white-space: nowrap;
	position: absolute;
top: 339px;
left: 415px;
height: 19px;
width: 560px;
/*Text styles for * */
font-family: 'San Francisco Text';
font-size: 16px;
color: rgba(0, 0, 0, 1);
text-align: left;
letter-spacing: 0.03em;

}


.guidetype{
	position: absolute;
top: 391px;
left: 431px;
}


.guidechoose{
	position: absolute;
	top: 651px;
	left: 451px;
}


.tidyup{
	position: absolute;
top: 749px;
left: 431px;
height: 218px;
width: 661px;
/*Text styles for Tidy up a  */
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(0, 0, 0, 1);
text-align: left;
letter-spacing: 0.04em;
line-height: 29px;

}


.gostep3{
	position: absolute;
top: 1094px;
left: 950px;
height: 44px;
width: 242px;

}


.finalcall{
	position: absolute;
top: 366px;
left: 423px;
height: 105px;
width: 661px;
font-family: 'San Francisco Text';
font-size: 13px;
font-weight: 500;
color: rgba(74, 74, 74, 1);
text-align: left;
letter-spacing: 0.04em;
line-height: 21px;

}


.gotoprofile{
	position: absolute;
top: 621px;
left: 983px;
height: 44px;
width: 209px;

}
/* FOR BOTTOM PART */
.rectangle{
	position: absolute;
top: 3217px;
bottom: 0;
left: 0px;
height: 351px;
width: 1440px;
background-color: rgba(33, 40, 48, 1);

}

.signupguide{
	position: absolute;
top: 3359px;
bottom: 0;
left: 119px;
height: 14px;
width: 90px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}

.moreinfo{
	white-space: nowrap;
	position: absolute;
top: 3359px;
left: 243px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.faqblock{
	position: absolute;
top: 3412px;
left: 243px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.guideblock{
	position: absolute;
top: 3412px;
left: 119px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.policyblock{
	position: absolute;
top: 3359px;
left: 359px;
height: 14px;
width: 86px;
font-family: 'San Francisco Text';
font-size: 12px;
font-weight: 600;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}

.guidepolicy{
	white-space: nowrap;
	position: absolute;
top: 3389px;
left: 359px;
height: 14px;
width: 107px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}

.insurance{
	white-space: nowrap;
	position: absolute;
top: 3412px;
left: 359px;
height: 14px;
width: 159px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.joinus{
	white-space: nowrap;
	position: absolute;
top: 3358px;
left: 676px;
height: 15px;
width: 84px;
font-family: 'Roboto';
font-size: 13px;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.12em;

}
.smallrect{
	position: absolute;
top: 3393px;
left: 920px;
height: 33px;
width: 251px;
background-color: rgba(255, 255, 255, 0.3);
border-radius: 8px;

}
.ques{
	white-space: nowrap;
	position: absolute;
top: 3358px;
left: 966px;
height: 15px;
width: 159px;
font-family: 'Roboto';
font-size: 13px;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.12em;

}

.visitblock{
	position: absolute;
top: 3389px;
left: 119px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}
.parentsblock{
	position: absolute;
top: 3389px;
left: 243px;
height: 14px;
width: 79px;
font-family: 'San Francisco Text';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: left;
letter-spacing: 0.12em;

}

.fb{
	position: absolute;
top: 3389px;
left: 637px;
height: 31px;
width: 31px;

}

.twit{
	position: absolute;
top: 3389px;
left: 680px;
height: 31px;
width: 31px;

}

.gplus{
	position: absolute;
top: 3389px;
left: 722px;
height: 31px;
width: 31px;

}

.insta{
	position: absolute;
top: 3389px;
left: 764px;
height: 31px;
width: 31px;

}

.boxcont{
	position: absolute;
top: 3393px;
left: 920px;
height: 33px;
width: 251px;
background-color: rgba(255, 255, 255, 0.3);
border-radius: 8px;

}
.contact{
	position: absolute;
top: 3403px;
left: 924px;
height: 13px;
width: 242px;
font-family: 'Roboto';
font-size: 11px;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.12em;

}
.copyright{
	position: absolute;
top: 3544px;
left: 484px;
height: 14px;
width: 459px;
font-family: 'Roboto';
font-size: 12px;
color: rgba(255, 255, 255, 1);
text-align: center;
letter-spacing: 0.12em;

}



/* CSS FOR VIDEO BUTTON */
.button {
  border-style: solid;
  border-width: 0px;
  cursor: pointer;
  font-family: "museo-sans-fontspring", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-weight: normal;
  line-height: normal;
  margin: 0 0 1.25rem;
  position: relative;
  text-decoration: none;
  text-align: center;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  display: inline-block;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  font-size: 1rem;
  background-color: #00c7e4;
  border-color: #009fb6;
  color: #FFFFFF;
  border-radius: 3px;
  border-bottom: 1px solid #008194;
  text-transform: uppercase;
  font-weight: 500;
  transition: background-color 300ms ease-out;
}

h1 {
  font-weight: 500;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "museo-sans-fontspring", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #565656;
}

.button{
	top: 677px;
left: 284px;
position: absolute;
height: 222px;
width: 222px;
background-color: rgba(214, 238, 238, 1);
border-radius: 222px;
}

.next3{
	position: absolute;
top: 765px;
left: 1060px;
height: 44px;
width: 133px;

}
.videoupload{
	position: absolute;

height: 222px;
width: 222px;
background-color: rgba(214, 238, 238, 1);
border-radius: 222px;

}

#upload-input {
  height: 0px;
  width: 0px;
  overflow: hidden
}

textarea {
  background-color: #DDDDDD;
  color: grey;
}

#loader {
  display: none;
}

p {
  font-family: "museo-sans-fontspring", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  color: #525252;
}

a {
  color: #00c7e4;
  text-decoration: none;
}